<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
            <mat-error *ngIf="form.get('title')!.invalid">Please enter a title</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea matInput name="post" id="post" formControlName="content"></textarea>
            <mat-error *ngIf="form.get('content')!.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <div>
            <input style="display: none;" type="file" #imagePicker (change)="onImagePicked($event)">
            <button type="button" mat-button (click)="imagePicker.click()">Pick image</button>
        </div>
        <br>

        <div class="image-preview" *ngIf="imagePreview && form.get('image')!.valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <br>
        <button mat-raised-button color="accent" type="submit">Submit</button>
    </form>

</mat-card>

